@font-face {
  font-family: Kinopoisk;
  font-display: swap;
  src: url("./fonts/kinopoisk-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Kinopoisk;
  font-display: swap;
  src: url("./fonts/kinopoisk-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Kinopoisk;
  font-display: swap;
  src: url("./fonts/kinopoisk-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Kinopoisk;
  font-display: swap;
  src: url("./fonts/kinopoisk-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Kinopoisk;
  font-display: swap;
  src: url("./fonts/kinopoisk-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Futura;
  font-display: swap;
  src: url("./fonts/futura-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}


